<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AcademiaController</servlet-name>
        <servlet-class>controller.AcademiaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcademiaController</servlet-name>
        <url-pattern>/AcademiaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CargoController</servlet-name>
        <servlet-class>controller.CargoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargoController</servlet-name>
        <url-pattern>/CargoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AvaliacaoController</servlet-name>
        <servlet-class>controller.AvaliacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunoController</servlet-name>
        <servlet-class>controller.AlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AparelhoControle</servlet-name>
        <servlet-class>controller.AparelhoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AparelhoController</servlet-name>
        <servlet-class>controller.AparelhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensalidadeController</servlet-name>
        <servlet-class>controller.MensalidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvaliacaoController</servlet-name>
        <url-pattern>/AvaliacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunoController</servlet-name>
        <url-pattern>/AlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AparelhoControle</servlet-name>
        <url-pattern>/AlparelhoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AparelhoController</servlet-name>
        <url-pattern>/AparelhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensalidadeController</servlet-name>
        <url-pattern>/MensalidadeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
